@model LinksMediaCorpEntity.TeamViewData
<div class="step" id="TeamViewReport">  
    @Html.ActionLink(" ", "ExportTeamViewCommissionExcelData", "Reporting", new { id = Model.SearchedTeamId,year=Model.SelectedYear,month=Model.SelectedMonth }, new { @class = "ExcelExport" })
    <div class="step-des">
        <label><b>Primary Team Detail</b></label>
        <div id="PrimaryTeams">
            <table id="PrimaryTeamDetails" class="reporting-table">
                <thead>
                    <tr>
                        <th>Team</th>

                        <th>Email Id</th>

                        <th>Phone</th>

                        <th>Users</th>

                        <th>Premium</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @Html.HiddenFor(m => Model.PrimaryTeamDetail.LevelTeamId)
                        <td>@Html.DisplayFor(m => Model.PrimaryTeamDetail.TeamName)</td>
                        <td>@Html.DisplayFor(m => Model.PrimaryTeamDetail.EmailId)</td>
                        <td>@Html.DisplayFor(m => Model.PrimaryTeamDetail.PhoneNumber)</td>
                        <td>@Html.DisplayFor(m => Model.PrimaryTeamDetail.Users)</td>
                        <td>@Html.DisplayFor(m => Model.PrimaryTeamDetail.Premium)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clr-both"></div>
        <br />
        <label><b>Level1 Teams </b></label>
        <div id="PrimaryLevel1Teams">
            @Html.Partial("_PrimaryTeamView", Model.Level1TeamDetail)
            <div style="float:right;margin-right:30px;">Level1 Team Total Commission: $ @Model.Level1TeamsCommision</div>

        </div>
        <div class="clr-both"></div>
        <br />
        <label><b>Level2 Teams</b> </label>
        <div id="PrimaryLevel2Teams">
            @Html.Partial("_PrimaryTeamView", Model.Level2TeamDetail)
            <div style="float:right;margin:16px;">Level2 Team Total Commission:$ @Model.Level2TeamsCommision</div>
        </div>
        <div class="clr-both"></div>

        <br />
        <label><b>Commissions</b></label>
        <table class="reporting-table">
            <thead>
                <tr>
                    <th>*Projected</th>
                    <th><div id="CommissionShowHide">Report Date: @Model.MonthLevel @if(Model.SelectedYear > 0) {@Model.SelectedYear}</div> </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><lebel><b>Primary Team</b></lebel></td>
                    <td>
                        $  @Model.PrimaryTeamCommision
                    </td>

                </tr>
                <tr>
                    <td><lebel><b>Total Level 1 Teams</b></lebel></td>
                    <td>$ @Model.Level1TeamsCommision</td>

                </tr>
                <tr>
                    <td><lebel><b>Total Level 2 Teams</b></lebel></td>
                    <td>$ @Model.Level2TeamsCommision</td>

                </tr>
                <tr>
                    <td><lebel><b>Total</b></lebel></td>
                    <td> $ @Model.TotalTeamCommision</td>

                </tr>
            </tbody>
        </table>
    </div>

</div>
