@model LinksMediaCorpEntity.CreateChallengeVM
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
@using MvcCheckBoxList.Model
@using LinksMediaCorpUtility.Resources
@Scripts.Render("~/bundles/ui")
@Scripts.Render("~/bundles/Workout")
<link href="~/Content/css/ui-lightness/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-2.3.2.min.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>
@{
    Layout = "~/Views/Shared/_TrainerLayout.cshtml";
   
    List<LinksMediaCorpEntity.ChallengeTypes> lstChallangeSubType = new List<LinksMediaCorpEntity.ChallengeTypes>();
    if (ViewBag.ChallengeTypeSubList != null)
    {
        lstChallangeSubType = ViewBag.ChallengeTypeSubList;
    }

    /*Code for radio button list of target training Zone*/
    List<LinksMediaCorpEntity.BodyPart> lstBodyPart = new List<LinksMediaCorpEntity.BodyPart>();
    if (ViewBag.ListBodyPartList != null)
    {
        lstBodyPart = ViewBag.ListBodyPartList;
    }
    /*Code for radio button list of target training Zone*/
    List<LinksMediaCorpEntity.ExerciseType> lstExerciseType = new List<LinksMediaCorpEntity.ExerciseType>();
    if (ViewBag.ExerciseTypeList != null)
    {
        lstExerciseType = ViewBag.ExerciseTypeList;
    }
    /*Code for radio button list of Equipment*/
    List<LinksMediaCorpEntity.Equipments> lstEquipment = new List<LinksMediaCorpEntity.Equipments>();
    if (ViewBag.ListEquipment != null)
    {
        lstEquipment = ViewBag.ListEquipment;
    }
    var selectedChallengeTypeId = 0;
    if (ViewBag.SelectedChallengeTypeId != null)
    {
        selectedChallengeTypeId = ViewBag.SelectedChallengeTypeId;
    }
   
}
<script type="text/javascript">
    $(document).ready(function () {
        if ($('#CheckChallengeName').val() === "NotAvailable") {
            $("#resultChallengeName").html("<span style='color:red'>Challenge Name already exists !</span>");
            $("#spnChallengeNameerror-msg").html(null);
        }
        else {
            $("#resultChallengeName").html(null);
        }

    });
</script>
}
@using (Html.BeginForm("CreateTrainerWorkout", "Reporting", FormMethod.Post, new { @class = "CreateChallengeForm", enctype = "multipart/form-data" }))
{
    <div id="page-wrapper">
        <!-- Start hidden field Section -->
        @Html.HiddenFor(m => m.ChallengeType)     
        @Html.HiddenFor(m => m.ChallengeId)    
        @Html.HiddenFor(m => m.FreeFormExerciseNameDescriptionList)
        @Html.HiddenFor(m => m.FormSubmitType)
        @Html.HiddenFor(m => m.FFExeVideoUrl1)
        @Html.HiddenFor(m => m.ExeIndexLink1)
        @Html.HiddenFor(m => m.ExerciseId)
        @Html.HiddenFor(m => m.ExerciseId1)
        @Html.HiddenFor(m => m.FFExeDesc1)
        @Html.HiddenFor(m => m.SelectedChallengeTypeId)
        @Html.HiddenFor(m => m.CEARocordId1)
        @Html.HiddenFor(model => model.SelectedChallengeCategoryCheck)
        <!-- End hidden field Section -->
        <!-- start create-challenge -->
        <div class="create-challenge">
            <h3>
                Create a New Challenge
                <div class="header-link-btn">
                    <input name="" type="button" id="btnTopdraft" value="Save to Draft" class="submit" />
                    <input name="" type="button" id="btnTopsubmit" value="Submit to Fitcom" class="submit" />
                    @Html.ActionLink("Cancel", "TrainerWorkouts", "Reporting", new { }, new { @class = "submit" })
                </div>
            </h3>
            <!-- start challenge-content -->
            <div class="challenge-content">
                @*<h4>FAQ - How to Create a Challenge</h4>*@
                <!-- start step -->
                <div class="step">
                    <h5>Step 1 - Select Challenge Type: </h5>
                    <!-- start step-des -->                  
                    <div class="step-des">
                        @Html.DropDownListFor(m => m.ChallengeSubTypeId, new SelectList(lstChallangeSubType, "ChallengeSubTypeId", "ChallengeSubType", selectedChallengeTypeId), "--Choose Challenge Sub-Type--", new { @class = "select" })
                        <div class="clearfix"></div>
                        @Html.ValidationMessageFor(m => m.ChallengeSubTypeId, "", new { @class = "error-msg pad0" })
                    </div>
                    <!-- end step-des -->
                </div>
                <div class="step" id="divChallengeCategorySection">
                    <h5 id="FFchallegeCategoryHeader">Step 2 - Select Your Category: </h5>
                    <!-- start step-des -->

                    <div class="col-xs-12 col-md-12 col-lg-12 mob-view-box">
                        <div style="overflow-x:auto; overflow-y:hidden;">
                            <fieldset class="txt-specialisation-detail margin-top" style="width: 1018px;">
                                <div style="color:red;"> @Html.ValidationMessageFor(m => m.SelectedChallengeCategoryCheck, "", new { })</div>
                                <div id="chkAllChallengeCategory">
                                    @{
                                        var primaryChallengeCategoryListInfo = new HtmlListInfo(HtmlTag.table, 5, null, TextLayout.Default, TemplateIsUsed.No);
                                        @Html.CheckBoxListFor(m => m.PostedChallengeCategory.ChallengeCategoryId, m => m.AvailableChallengeCategory,
m => m.ChallengeCategoryId, m => m.ChallengeCategoryName, m => m.SelecetdChallengeCategory, primaryChallengeCategoryListInfo)
                                    }
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <!-- end step-des -->
                </div>
                <!-- end step -->
                <div id="FreeFormChallegeDescriptionHeaderSection" class="step" style="display:none;">
                    <h5 id="FreeFormWorkoutDescriptionHeaderSection">Step 3 - Describe Your Challenge:</h5>
                    <!-- start step-des -->
                    <div class="row txt-lbl-input">
                        <div class="col-md-12 col-lg-12 col-xs-12 mob-view-box">
                            <div class="clr-both"></div>
                            <div class="col-md-12 col-lg-12 col-xs-12"></div>
                            <div class="col-md-6 col-lg-6 col-xs-6 remove-margin-left">  @Html.ValidationMessageFor(m => m.Description, "", new { @class = "error-msg" })</div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-xs-12 mob-view-box">
                            @Html.TextAreaFor(m => m.Description, new { @class = "ckeditor", maxLength = "1000", placeholder = "Max Char limit 1000" })
                        </div>
                    </div>

                    <!-- end step-des -->
                </div>
                <!-- start step -->              
                <div class="step" id="FreeFormChallengeExeciseSection">
                    <h5 id="FreeFormChallengeExeciseSectionHeader">Step 4 - Choose Exercise(s):</h5>
                    <!-- start step-des -->
                    <div class="step-des">
                        <br />
                        <div>
                            <div class="rmv-pd col-md-4 col-sm-12 col-xs-12 exer-sec">
                                <label class="pull-left" style="width: auto; margin-right: 5px; padding: 5px 1%;">Equipments:</label>
                                @*<select id="chkFreeFormSearchEquipment" multiple="multiple" title="Equipment" style="width:180px;"></select>*@
                                @Html.DropDownListFor(m => m.SelectedEquipment1, new SelectList(lstEquipment, "EquipmentId", "Equipment"), "--Choose Equipments--", new { id = "FFdrpdownEquipments1", @class = "select" })
                            </div>
                            <div class="rmv-pd col-md-4 col-sm-12 col-xs-12 exer-sec">
                                <label class="pull-left" style="width: auto; margin-right: 5px; padding: 5px 1%;">Training Zones:</label>
                                @*<select id="chkFreeFormTrainingZone" multiple="multiple" title="Training Zone" style="width:180px;"></select>*@
                                @Html.DropDownListFor(m => m.SelectedTrainingZone1, new SelectList(lstBodyPart, "PartId", "PartName"), "--Choose Training Zones--", new { id = "FFdrpdownTrainingZones1", @class = "select" })
                            </div>
                            <div class="rmv-pd col-md-4 col-sm-12 col-xs-12 exer-sec">
                                <label class="pull-left" style="width: auto; margin-right: 5px; padding: 5px 1%;">Exercise Types:</label>
                                @*<select id="chkFreeFormSearchExerciseType" multiple="multiple" title="Exercise Type" style="width:180px;"></select>*@
                                @Html.DropDownListFor(m => m.SelectedExeciseType1, new SelectList(lstExerciseType, "ExerciseTypeId", "ExerciseName"), "--Choose Exercise Types--", new { id = "FFdrpdownExerciseTypes1", @class = "select" })
                            </div>
                        </div>
                        <div class="row-colum add-step">
                            <label>Name of Exercise 1:</label>
                            @Html.TextBoxFor(m => m.FFExeName1, null, new { @class = "freeforminput FreeFormExerciseVideos col-md-10 col-sm-10 col-xs-10" })
                            <div class="row-colum col-md-12 col-sm-12 col-xs-12">
                                <label>&nbsp;</label>
                                <span id="FFExeVideoLink1">
                                    <a id="FFExeVideoLinkUrl1" href=@Html.DisplayFor(m => m.FFExeVideoUrl1) target="_blank">@Html.DisplayFor(m => m.FFExeVideoLink1)</a>
                                </span>
                                <span id="lblExe1" class="error-msg secondary-err-msg"></span>
                                @Html.ValidationMessageFor(m => m.FFExeName1, "", new { @class = "error-msg" })
                            </div>
                            <div class="row-colum col-md-12 col-sm-12 col-xs-12">
                                <label><span class="active-new-chckbox pull-left">Alternate Name:</span> @Html.CheckBoxFor(m => m.IsFFAExeName1, new { @class = "IsChangedExeciseName checkbox-btn" })</label>
                                @Html.TextBoxFor(m => m.FFAExeName1, null, new { @class = "freeforminput col-md-10 col-sm-10 col-xs-10" })
                            </div>
                            <div class="row-colum col-md-12 col-sm-12 col-xs-12">
                                <label><span class="active-new-chckbox pull-left">Set As First Exercise:</span>@Html.CheckBoxFor(m => m.IsSetFirstExecise, new { id = "IsSetFirstExecise1", @class = "checkbox-btn" })</label>

                            </div>
                        </div>
                        <div class="row-colum">
                            <div id="execeMainsetId1" class="Main-set main-bg-set">
                                <div id=1>
                                    <div class="set-heading">
                                        <span id="exesetTittle1"> Set 1</span>
                                    </div><label>How Many Reps:</label>
                                    <input class="freeforminput FreeFormExerciseVideos1 col-md-10 col-sm-10 col-xs-10 ui-autocomplete-input ui-corner-all" id="ExecSetRep1" name="ExecSetRep1" type="text" value="" autocomplete="off">
                                    <div class="or-section"><span>OR</span></div><label>How Much Time:</label>
                                    <label style="width:47px;margin-right:2px;" class="lbl-txt">Hour(s)</label>
                                    <input class="input " data-val="true" data-val-range="Please enter valid Hour(s)." data-val-range-max="24" data-val-range-min="0" id="SetTimeHours1" maxlength="2" name="SetTimeHours1" style="width:60px;padding:5px;margin-right:5px;text-align:center;height:32px;" type="text" value="00">
                                    <label style="width:55px;margin-right:5px;" class="lbl-txt">Minute(s)</label>
                                    <input class="input" data-val="true" data-val-range="Please enter valid Minute(s)." data-val-range-max="60" data-val-range-min="0" id="SetTimeMinute1" maxlength="2" name="SetTimeMinute1" style="width:60px;padding:5px;margin-right:5px;text-align:center;height:32px;" type="text" value="00">
                                    <label style="width:58px;margin-right:5px;" class="lbl-txt">Second(s)</label>
                                    <input class="input " data-val="true" data-val-range="Please enter valid Second(s)." data-val-range-max="60" data-val-range-min="0" id="SetTimeSecond1" maxlength="2" name="SetTimeSecond1" style="width:60px;padding:5px;margin-right:5px;text-align:center;height:32px;" type="text" value="00">
                                    <label style="width:30px;margin-right:5px;" class="lbl-txt">HS(s)</label>
                                    <input class="input" data-val="true" data-val-range="Please enter valid HS(s)." data-val-range-max="99" data-val-range-min="0" id="SetTimeHS1" maxlength="2" name="SetTimeHS1" style="width:60px;padding:5px;margin-right:5px;text-align:center;height:32px;height:32px;" type="text" value="00">
                                    <span class="active-new-chckbox pull-left" style="line-height:31px;">Auto Count Down:</span>

                                    <div class="gender-option-pd">
                                        <input id="IsSetAutoCountDown1" name="IsSetAutoCountDown1" type="checkbox" checked="checked" class="IsChangedExeciseName checkbox-autcountbtn" />
                                    </div>
                                    <div class="clr-both">
                                    </div>
                                    <label>Description:</label><textarea class="freeformtextarea col-md-10 col-sm-10 col-xs-9" cols="20" id="ExecSetDescription1" maxlength="500" name="ExecSetDescription1" placeholder="Max Char limit 500" rows="2"></textarea>
                                    <div class="clr-both">
                                    </div>
                                    <label>How Much Rest Time:</label><label style="width:47px;margin-right:2px;" class="lbl-txt">Hour(s)</label>
                                    <input class="input" data-val="true" data-val-range="Please enter valid Hour(s)." data-val-range-max="24" data-val-range-min="0" id="RestTimeHours1" maxlength="2" name="RestTimeHours1" style="width:60px;padding:5px;margin-right:5px;text-align:center;height:32px;" type="text" value="00">
                                    <label style="width:55px;margin-right:5px;" class="lbl-txt">Minute(s)</label>
                                    <input class="input " data-val="true" data-val-range="Please enter valid Minute(s)." data-val-range-max="60" data-val-range-min="0" id="RestTimeMinute1" maxlength="2" name="RestTimeMinute1" style="width:60px;padding:5px;margin-right:5px;text-align:center;height:32px;" type="text" value="00">
                                    <label style="width:58px;margin-right:5px;" class="lbl-txt">Second(s)</label>
                                    <input class="input " data-val="true" data-val-range="Please enter valid Second(s)." data-val-range-max="60" data-val-range-min="0" id="RestTimeSecond1" maxlength="2" name="RestTimeSecond1" style="width:60px;padding:5px;margin-right:5px;text-align:center;height:32px;" type="text" value="00">
                                    <label style="width:30px;margin-right:5px;" class="lbl-txt">HS(s)</label>
                                    <input class="input" data-val="true" data-val-range="Please enter valid HS(s)." data-val-range-max="99" data-val-range-min="0" id="RestTimeHS1" maxlength="2" name="RestTimeHS1" style="width:60px;padding:5px;margin-right:5px;text-align:center;height:32px;" type="text" value="00">
                                    <input type="hidden" id="IsNewAddedSet1" value="1">
                                    <div class="clr-both"></div>
                                </div>
                            </div>
                            <div class="add-set">
                                <button id="btnAddExeciseSet1" class="add_set_button marginBot10">Add Set</button>
                            </div>
                            <div class="btn-add-new"><button id="InsertExecise1" class="add_field_button add-exercise">Add Exercise</button></div>
                        </div>
                        <div class="clr-both chose-ex-parts"></div>
                        <input type="hidden" id="ExerciseSetCount1" value="1">
                        <input type="hidden" id="IsNewAddedExercise1" value="@(Model.IsNewAddedExercise1)">
                        <div id="freeformtoggalediv">

                        </div>

                        <!-- end step-des -->
                    </div>
                </div>

                <!-- end step -->
              
                <!-- start step -->
                <div class="step" id="TrainerCreatedChallengeName">
                    <h5 id="TrainerStepChallengeName">Step 5 - Enter Challenge Name:</h5>
                    <!-- start step-des -->
                    <div class="step-des">
                        <div class="row-colum">
                            @Html.TextBoxFor(m => m.ChallengeName, null, new { @class = "input", maxLength = "200" })

                            <div class="col-md-6 col-lg-6 col-xs-6 remove-margin-left">
                                @Html.ValidationMessageFor(m => m.ChallengeName, "", new { id = "spnChallengeNameerror-msg", @class = "error-msg none error-btm" })
                                @Html.HiddenFor(model => model.CheckChallengeName)
                                <div class="clr-both"></div><span id="resultChallengeName" />
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end step-des -->
                <!-- start step -->
                <div class="clr-both"></div>
                <div class="bottom-button">
                    <input name="" type="button" id="btnButtomdraft" value="Save to Draft" class="submit" />
                    <input name="" type="button" id="btnButtomsubmit" value="Submit to Fitcom" class="submit" />
                    @Html.ActionLink("Cancel", "TrainerWorkouts", "Reporting", new { }, new { @class = "submit" })
                </div>
            </div>
            <!-- end challenge-content -->
        </div>
        <!-- end create-challenge -->
        <div class="clearfix"></div>
    </div>
 }
<script src="~/Scripts/BusinessLogic/TrainerCreatedWorkoutsBL.js"></script>


