@model LinksMediaCorpEntity.ChangePassword
@Scripts.Render("~/bundles/validation")
<div id="divChangePwd" class="form-container" >
    <div class="form-inner" style="border: 2px solid #3D35AB; border-radius: 15px; ">
       
        @using (Ajax.BeginForm("ChangePassword", "Account", new AjaxOptions() { OnBegin = "onPopupOpen", OnSuccess = "OnSuccessPost(data)" }, new { @id = "intake-form" }))
        {
            @Html.HiddenFor(n => n.UserId)
            <div class='input_label'>
                <label>
                    Old Password
                </label>
                @Html.PasswordFor(n => n.OldPassword, new { maxLength = "10" })
                @Html.ValidationMessageFor(n => n.OldPassword, "", new { @class = "error-msg error-msg-popup" })
            </div>
            <div class='input_label'>
                <label>
                    New Password
                </label>
                @Html.PasswordFor(n => n.NewPassword, new { maxLength = "10" })
                @Html.ValidationMessageFor(n => n.NewPassword, "", new { @class = "error-msg error-msg-popup" })
            </div>
            <div class='input_label'>
                <label>
                    Confirm Password
                </label>
                @Html.PasswordFor(n => n.ConfirmPassword, new { maxLength = "10" })
                @Html.ValidationMessageFor(n => n.ConfirmPassword, "", new { @class = "error-msg error-msg-popup" })
            </div>

            <input type="submit" value="Submit" class="btn" />
            <input type="button" id="CancelBtn" value="Cancel" class="btn" />

        }
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#CancelBtn").click(function () {
            $("#carrier_popup").hide();
        });
    });

    function onPopupOpen() {
       
    }

    function OnSuccessPost(data) {
        if (data.status == 200) {
            $("#divChangePwd").hide();
            alert(data.statusMsg);
        }
        else {
            alert(data.statusMsg);
        }
    }

</script>

<style type="text/css">
    .validation-summary-valid {
        display: none;
    }
</style>